html,body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
head {
  font-family: 'Palatino', 'Palatino Linotype',Helvetica;
  font-size:24px;
  font-style: bold;
  text-align:center;
}
h1 {
  font-style: bold, italic;
  font-family:Palatino;
}
body {
  background-color: lightblue;
  color: darkblue
}
#content-info {
  font-family: Palatino, Palatino Linotype, Helvetica;
  font-style: bold;
  font-size: 24px;
}
#content-professionalheader {
  font-family: Lucida, arial;
  font-style: Bold;
  font-size: 16px;
}
#pic {
  border: 8px;
  border-color: black;
}
