
html,body {
  justify-content: center;
}
head {
  font-family: 'Palatino', 'Palatino Linotype',Helvetica;
  font-size:24px;
  font-style: bold;
  text-align:center;
}
#content-contact {
  font-family: 'Palatino', 'Palatino Linotype';
  font-size: 46px;
  font-style: bold;
}
#top-elements{
  justify-content: center;
}

#content-missioncontent {
  font-family: arial;
  font-style: italic;
  font-size: 16px;
  border-bottom: 3px black;
}
.date {
  font-size: 16px;
}
h1 {
  font-style: bold;
  font-family:Palatino;
  font-size: 36px;
}
h3 {
  font-family: Palatino;
  font-size: 22px;
}
h4 {
  font-family: courier new;
  font-size: 18px
} 
body {
  background-color: lightblue;
  color: darkblue
}
#content-info {
  font-family: arial;
  font-style: bold;
  font-size: 24px;
}
#content-professionalheader {
  font-family: courier new;
  font-style: Bold;
  font-size: 24px;
}
#pic {
  border-width: 3px;
  border-color: black;
  border-style: double;
}
