html,body {
  display: flex;
  text-align: left;
  justify-content: center;
}
head {
  font-family: 'Palatino', 'Palatino Linotype',Helvetica;
  font-size:24px;
  font-style: bold;
  text-align:center;
}
#content-contact {
  font-family: Palatino, serif;
  font-size: 32px;
  font-style: bold;
}
#content-missioncontent {
  font-family: arial;
  font-style: italic;
  font-size: 18px;
  padding: 20px;
}
h1 {
  font-style: bold;
  font-family:Palatino;
  font-size: 32px;
}
body {
  background-color: lightblue;
  color: darkblue
}
#content-info {
  font-family: Palatino, Palatino Linotype, Helvetica;
  font-style: bold;
  font-size: 24px;
}
#content-professionalheader {
  font-family: Lucida, arial;
  font-style: Bold;
  font-size: 22px;
}
#pic {
  border: 8px;
  border-color: black;
}
